.footer {
    background-color: #f8f9fa;
    color: #333333;
    font-family: "Arial";
    position: fixed;
    text-align: center;
    margin-top: 1rem;
    padding: 12px 0px;
    width: 100%;
    font-size: 18px;
    height: 60px;
}