.label {
  border-radius: 4px;
  display: inline-block;
  padding: .4px .8px;
  white-space: nowrap;
}

.best-seller {
  background-color: #ffe799;
  color: #593d00;
}

.new {
  background-color: red;
  color: white;
}